{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="container" id="article">
        <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <h1>{{ article.title }}</h1><br>
            </div>
        <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <p>Published on : {{ article.pub_date }}</p><br>
            <div class="icon-bar">
                    <a href="#" class="icon-box"><i class="fa fa-facebook"></i></a> 
                    <a href="#" class="icon-box"><i class="fa fa-twitter"></i></a> 
                    <a href="#" class="icon-box"><i class="fa fa-google"></i></a> 
                    <a href="#" class="icon-box"><i class="fa fa-linkedin"></i></a>
            </div><br>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                    <img src="{{ article.header.url }}" class="img-fluid"><br><br>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <div class="article"><p>{{ article.content | safe }}</p></div></div>
            <div class="col-md-1"></div>
        </div>
        <br><br>
        <div class="row">
        <div class="col-md-1"></div>
         <div class="col-md-10">
         <h5> TAGS : 
         {% for tag in tags %}
         <a href="{% url 'tag_search' %}?tag={{ tag }}">{{ tag }}<a>&nbsp;
         {% endfor %}
         </h5>
         </div>
        <div class="col-md-1"></div>
        </div>

</div>
{% endblock %}