{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" id="featurestory">
    <div id="featuresyory">
    <div class="row">
        <div class="col-md-6 component">
            <img src="{{ featurestory.header.url }}" class="img-fluid float-left">
        </div>

        <div class="col-md-6 component">
            <a href="{% url 'view_article'%}?id={{featurestory.id}}">
            <h2 class="title">{{ featurestory.title }}</h2></a>
            <h3 class="title">By {{featurestory.author}}</h3>
            <small class="text-muted">Published : {{ featurestory.pub_date }}</small>
            </p>
        </div>
        </div>
    </div>
    </div>
    <div class="container" id="featurebanner">
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'assets/banner.png' %}" class="img-fluid">
            </div>    
        </div>
    </div>   
    <div  class="container" id="coverstory">
    <div class="row">
        {% for article in articles %}
        <div class="col-md-4 component">
            <hr>
            <img src="{{ article.header.url }}" class="img-fluid float-center"><br><br>
            <a href="{% url 'view_article' %}?id={{article.id}}">
            <h2 class="title">{{ article.title }}</h2></a>
            <h3 class="title">By {{article.author}}</h3>
            <small class="text-muted">Published : {{ article.pub_date }}</small>
            </p>
            <hr>
        </div>

    {% endfor %}
    </div>
    </div>   
    
{% endblock %} 