{% extends 'base.html' %}
{% block content %}
    <div class="container" id="search">
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align:center">Showing results for : {{ query }}</h3><br>
            </div>
        </div>
        {% for article in articles %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 component">
                <img src="{{ article.header.url }}" class="img-fluid float-left">
            </div>
            <div class="col-md-5 component">   
            <a href="{% url 'view_article' %}?id={{article.id}}"><h3 class="title">{{ article.title }}</h3></a><br>
            <h5>By {{ article.author.username }} <small class="text-muted">
            - {{ article.pub_date }}</small></h5>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row"><div class="col-md-10"><hr></div></div>
        {% endfor %}
    </div>
{% endblock content %}