
h1 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style:normal;
    font-weight: normal;
}
h3 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style:normal;
    font-weight: 1200;
}
h5 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style:normal;
    font-weight: 1200;
}

.component {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.article {
    font-family: neue-haas-grotesk-display, sans-serif;
}

.title {
    text-align: left;
}

.byline {
    text-align: center;
}

.tag {
    padding: 5px;
    color:grey;
}

a {
    text-decoration: none !important;
    color: black;
}
a:hover {
    color:black;
}
a:visited {
    color: black;
}

/* Stick Icon Bar */


.icon-bar a {
    display: inline;
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    font-size: 25px;
}

.icon-bar a:hover {
    background-color: #000;
}

.icon-box {
    background-color: #808080;
    color:white;
    margin-bottom: 5px;
    padding-left:20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom:10px;
}
  
canvas { max-height: 100px; }
